* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

h1 {
  color: #e91e63;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
}

#yesBtn {
  background: #e91e63;
  color: white;
}

#yesBtn:hover {
  transform: scale(1.1);
}

#noBtn {
  background: #ccc;
  position: relative;
}

.heart {
  position: fixed;
  bottom: 0;
  font-size: 24px;
  animation: floatUp linear forwards;
  pointer-events: none;
}

@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0;
  }
}


#message {
  margin-top: 20px;
  font-size: 20px;
  color: #e91e63;
}
